html, body {
  overflow-x:hidden;
}
body {
  font-family: "Roboto", Arial, sans-serif;
  color:#333;
}
h1 {
  font-family: "Lilita One", sans-serif;
}
h2, h3, h4, h5, h6 {
  font-family: "Roboto", Arial, sans-serif;
}
h2 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 5px;
}
p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 100;
}

/* GRID */
.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear:both;
}
.one-half, .one-third, .one-fourth, .two-thirds, .one-third-body {
  float:left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}
/* HEADER */
header {
  color: #fff;
  background: url("../images/ovalbackground.png") no-repeat;
  /*background-image: linear-gradient(-77deg, #D8EAEA 0%, #007373 51%);*/
  overflow:hidden;
  height:780px;
}
header nav {
  padding:1em 0;
}
.one-half {
  width:46%;
}
.sign-up {
  display:none;
}
header nav ul {
  display:inline;
  text-align:right;
  float:right;
  margin:0;
}
header nav ul > li {
  list-style-type:none;
  display:inline-block;
  margin: 0 5px;
}
header nav ul > li.btn-outline, .sign-in {
  padding:10px 15px;
  border:2px solid #fff;
  border-radius:2px;
}
header nav ul > li.btn-outline:hover {
  background:#fff;
}
header nav ul > li > a {
  color:#fff;
  text-decoration: none;
}
header nav ul > li.btn-outline:hover > a {
  color:#34495e;
}
.hero {
  display: block;
  width:90%;
}
.hero h1 {
  font-size:28px;
  font-weight: normal;
  margin:40px 0 0;
}
.hero p{
  font-size:16px;
  line-height:20px;
  font-weight:100;
  margin:10px 0 40px;
}
.one-third {
  display:block;
  margin:30px 20px 0;
  text-align:center;
  float:none;
}
.two-thirds {
  display:block;
  float:none;
  margin: 40px 0 0;
}
.screenshot {
  max-width: 95%;
  margin:auto 2.5%;
}
/* BUTTONS */
.btn {
  border-radius:2px;
  color:#007373;
  font-weight: 700;
  text-decoration: none;
  padding: 15px 30px;
  background: #fff;
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,.5);
  margin:auto;
}
/* BENEFITS */
.benefits {
  text-align: center;
  display: block;
  position: relative;
}
.benefits ul {
  margin: 0 auto;
  padding: 4em 0;
}
.benefits ul li {
  list-style-type: none;
  display: inline-block;
}
.benefits svg {
  color:#007373;
  font-size:60px;
  margin:0;
  vertical-align:middle;
}
.benefits h2 {
  color:#007373;
}
/* PRICING */
.pricing {
  background: #007373 url("../images/background.png") top center no-repeat;
  background: url("../images/background.png") top center no-repeat, linear-gradient(206deg, #5F81A3 0%, #007373 94%);
  background-size:cover;
  text-align: center;
  padding:4em 0;
}
.pricing h2, .pricing p{
  color:#fff;
}
.pricing ul {
  margin:0 auto;
  padding:1em 0;
}
.pricing ul li {
  list-style-type:none;
}
.box {
  padding:0 15px 15px;
  background: #E2E2E2;
  box-shadow 0px 2px 4px 0px rgba(0,0,0,0.2);
  min-height:350px;
  margin-top:25px;
  position:relative;
}
.box h3 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight:600;
  text-transform: uppercase;
  background: #C2C2C2;
  box-shadow: 0px 1px 2px 0px rgba (0,0,0,0.4);
  left:0;
  right:0;
  top:0;
  text-align:center;
  margin:0 -15px 10px;
  padding: 10px 0;
}
.box h4 {
  font-size:30px;
  font-weight: normal;
  margin:10px 0 10px;
  color:#007373;
}
.box h4 span {
  font-size:32px;
  vertical-align:top;
}
.box h4 span.month {
  font-family:  "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color:#888;
  font-size:20px;
  vertical-align: middle;
}
.box ul li {
  font-size:18px;
  margin-bottom:20px;
  font-weight:100;
}
.box .btn {
  position:absolute;
  bottom:20px;
  left:20px;
  right:20px;
  margin-top:20px;
}
.small {
   font-size: 12px;
   color: #FEFEFE;
   line-height: 15px;
   font-style:italic;
 }
 /* TESTIMONIALS */
 .testimonials {
   padding:4em 0;
   text-align: center;
 }
 .testimonials h2 {
   color:#007373;
 }
 .testimonials ul li {
   list-style-type: none;
 }
 .testimonials blockquote {
   color:#FFFFFF;
   text-align: left;
   font-style: italic;
   background:#007373;
   position: relative;
   padding:30px;
   width:auto;
   margin:0;
 }
 .testimonials blockquote:after {
   top: 100%;
   left: 13%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
   border-top-color: #007373;
   border-width: 10px;
   margin-left: -10px;
 }
 .testimonials img {
  height: 65px;
  width: 65px;
  border-radius:50%;
  float: left;
  display: inline-block;
  margin:20px 10px 0 0;
}
.testimonials p.name {
  float: left;
  display: inline-block;
  text-align: left;
  font-size:13px;
  margin-top: 30px;
}
.testimonials .indented {
  margin-top: 20px;
}
/* SIGN UP */
.signup {
  background: url("../images/Oval.png") top center no-repeat;
  background-size:cover;
}
.signup .signup-box {
  text-align:center;
  max-width:400px;
  background-color: #fff;
  border: 2px solid rgba(15, 113, 115, 1);
  padding:15px;
  margin: 20px auto 50px;
}
.signup h2 {
  font-weight:600;
  margin-bottom:5px;
  color:rgba(15, 113, 115, 1);
}
.signup p {
  color:#333;
}
.signup .input {
  margin: 20px 0;
  padding:10px;
  box-sizing:border-box;
  border: 1px solid rgba(15, 113, 115, 0.25);
  outline:none;
}
.signup .btn {
  display:block;
  margin: 15px 15%;
  text-align:center;
  background-color:rgba(15, 113, 115, .2);
  box-shadow: 0px 2px 0px 0px rgba(15, 113, 115,.5);
}
/* FOOTER */
footer {
  background-color: #34495E;
  background-image: linear-gradient(to top,
     #007373 0%, #007373 50%, #007373 50%, #007373 100%);
  color: #FFFFFF;
  height: 150px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
footer p, footer nav ul {
  font-size:14px;
  font-weight:100;
  text-align: center;
  margin: 10px auto 0;
}
footer nav ul li {
  list-style-type: none;
  display: inline;
}
footer nav ul li a {
  color:#FFFFFF;
  text-decoration: none;
}
.right-footer-block, .middle-footer-block, .left-footer-block {
  margin:0px;
}
.logo{
  padding: 2.35em 0;
  margin: 0 auto;
  display: block;
}
/* MEDIA QUERIES */
@media screen and (min-width: 768px){
  .container {
    width:750px;
  }
  header {
    height:750px;
  }
  .hero {
    text-align:left;
  }
  .one-third-body, .one-third-body-bottom, .one-fourth {
    width:60%;
    margin: 2% 20%;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width:970px;
  }
  header {
    height:600px;
  }
  .hero h1 {
    font-size:48px;
    line-height: 60px;
  }
  .one-third {
    display:inline-block;
    width:29.3333%;
    margin-top:50px;
    float:left;
  }
  .one-third-body {
    width:40%;
    margin: 0 5%;
  }
  .one-third-body-bottom {
    width:43%;
    margin: 20px 28.5% 0;
  }
  .one-fourth {
    width:22%;
    margin: 0 1.5%;
  }
  .two-thirds {
    display:inline-block;
    width: 58.666%;
    float:right;
    margin-top: 80px;
  }
  .sign-up {
    display:inline;
  }
  .hero h1 {
    font-size:36px;
    line-height: 44px;
    margin: 10px 0 0;
  }
  .hero p {
    font-size:18px;
    line-height: 24px;
  }
  .sign-in {
    padding:0px;
    border:none;
  }
  .screenshot {
    max-width: 100%;
  }
  .box {
    min-height:350px;
  }
  footer{
     background-color: #3498DB;
     background-image: linear-gradient(to left,
        #007373 0%, #007373 33.33337%, #007373 33.33337%, #007373 100%);
     height: 100px;
   }
   footer p, footer nav ul{
     padding: 2em 0;
     text-align: left;
   }
   .right-footer-block, .middle-footer-block, .left-footer-block {
     background-color: #007373;
     margin-top:0px;
     width:29%;
     margin: auto 2%;
   }
   footer .logo{
     padding: 2em 0 2em 1.5em;
   }
}
@media screen and (min-width: 1200px) {
  .container {
    width:1170px;
  }
  .header {
    background-size: 100% auto;
    height:780px;
  }
  .one-third-body, .one-third-body-bottom {
    width:29%;
    margin: 0 2% 0;
  }
  .pricing ul {
    margin:0 auto;
    padding:2em 0;
  }
  .box {
    min-height:439px;
  }
  .box h3 {
    margin:0 -15px 40px;
  }
  .box h4 {
    font-size:50px;
    margin:40px 0 10px;
  }
  .box.middle {
    min-height: 485px;
    margin-top:0px;
  }
}
